<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Isabella Hu">
        <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems, Ticket Page">
        <meta name="description" content="Ticket Page">
        <title>Tickets - MonoMuse</title>
        <link rel="stylesheet" href="../static/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>
    </head>
    <body>
    <div class="container">
      <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo">
      <nav class = "nav_bar">
            <button class="hamburger" type="button" onclick="toggleMenu()">
                <div class = "hamburgerLine"></div>
                <div class = "hamburgerLine"></div>
                <div class = "hamburgerLine"></div>
            </button>
                <a href="../index.html">Home</a>
                <a href="explore.html">About Us</a>
                <a href="exhibitions.html">Exhibitions</a>
                <a href="buytickets.html" class = "active">Buy Tickets</a>
                <a href="donate.html">Donate</a>
        </nav>

      <main class="main">
        <div id="confirmationBox">
            <h2>Order Confirmed!</h2>
            <p>Thank you for your purchase. Your tickets have been sent to your email.</p>
            <p>Your total was $<span id="confTotal"></span></p>
            <br>
            <a href="../index.html"><button>Return to Home</button></a>
        </div>
      </main>

      <footer class="footer"><p id="copyYear"></p></footer>
    </div>
    <script src="../static/script.js"></script>
    <script>
  console.log("order in localStorage:", localStorage.getItem("order"));
</script>
    </body>