<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Isabella Hu">
        <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems, Ticket Page">
        <meta name="description" content="Ticket Page">
        <title>Tickets - MonoMuse</title>
        <link rel="stylesheet" href="../static/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>
    </head>

    <body onload="addYear()">
        <div class = "container">  
        <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo"> 
        <nav class = "nav_bar">
            <button class="hamburger" type="button" onclick="toggleMenu()">
                <div class = "hamburgerLine"></div>
                <div class = "hamburgerLine"></div>
                <div class = "hamburgerLine"></div>
            </button>
                <a href="../index.html">Home</a>
                <a href="explore.html">About Us</a>
                <a href="exhibitions.html">Exhibitions</a>
                <a href="buytickets.html" class = "active">Buy Tickets</a>
                <a href="donate.html">Donate</a>
        </nav>
        <main class="main">
            <h3 class = "donate">Support Our Mission</h3>
            <h3 class = "donate">Your generosity helps bring art, history, and culture to life. By becoming a member or making a donation, you directly support our exhibitions, educational programs, and community initiatives. Membership offers exclusive benefits, behind-the-scenes access, and special events, while every gift—big or small—makes a meaningful impact. Join us in inspiring curiosity, creativity, and connection for all visitors.</h3>
        <div class="center-container">
            <a class="donatebutton" href="https://www.paypal.com/donate?hosted_button_id=Z5K6Z7X9L2V8E" target="_blank">
                <button>Donate Now</button>
            </a>
        </div>
        </main>

</html>