<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Isabella Hu">
        <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems, Exhibition Page">
        <meta name="description" content="Exhibition Page">
        <title>Exhibitions - MonoMuse</title>
        <link rel="stylesheet" href="../static/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <script src="../static/script.js" defer></script>
    </head>
    <body onload="addYear()">
    <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo"> 
    <nav>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a id="navselected" href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Buy Tickets</a>
            <a href="checkout.html">Checkout</a>
        </nav>
    <h3>Exhibition 1: Digital Horizons</h3>
    <p>Digital Horizons is an immersive exhibition that explores the transformative impact of digital technology on contemporary art. Featuring a diverse range of artworks created using cutting-edge digital tools, this exhibition invites visitors to experience the intersection of art and technology in new and innovative ways. From interactive installations that respond to visitor movements to virtual reality experiences that transport viewers to otherworldly landscapes, Digital Horizons showcases how artists are pushing the boundaries of creativity in the digital age. Through a combination of physical and virtual elements, this exhibition encourages visitors to engage with art in dynamic and interactive ways, fostering a deeper understanding of the evolving relationship between technology and artistic expression.</p>
    <h3>Exhibition 2: Interactive Narratives</h3>
    <p>Interactive Narratives is a thought-provoking exhibition that examines the role of storytelling in the digital era. Through a series of interactive installations and multimedia presentations, this exhibition explores how technology is reshaping the way we create, consume, and share narratives. Visitors are invited to become active participants in the storytelling process, experiencing firsthand how digital tools can enhance and transform traditional narrative forms.</p>
    <footer><p id="copyYear"></p></footer>
    </body>
</html>